@import url(https://fonts.googleapis.com/css?family=Raleway:100,600);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-size: 15px;
	background: #BDBBB8;
}

header {

}

div {

}

nav {
	background-color: rgba(55,158,36,.5);
	margin: 0 auto;
}

a{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 2.2em;
	margin: 0 auto;
	padding: 0 25px;
	text-transform: uppercase;
	color: #5E5957;
	text-decoration: none;
	font-weight: 600;
}

section {
	width: 50%;
	float: left;
	margin: 100px auto;
	padding: 0 5%;
}

aside{
	float: right;
	padding: 0 11%;
	margin-top: 100px;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 3em;
	margin: 0 auto;
	padding: 50px 0;
	text-transform: uppercase;
}

h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.8em;
	text-transform: uppercase;
}

h3 {
	font-family: 'Quicksand', sans-serif;
}

h4 {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	margin: 0;
}

h5 {
	display: block;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 2em;
	padding: 5px;
}

h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.7em;
	font-weight: 600;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 15px;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	font-weight: 300px;
	text-transform: uppercase;
}

hr {
	width: 40%;
	text-align: center;
}

img{
	width: 24.5%;
}

label {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
}

ul, li{	
	display: block;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.4em;
}

span{
	text-align: right;
	float: right;
}

footer{
	font-family: 'Raleway', sans-serif;
	clear: both;
	text-align: center;
	margin: 0 auto;
	background: #BDB2AE;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.wrap {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.nav{
	text-align: center;
}

.navlinks{

}

.left{
	float: left;
	display: block;
	padding: 0 5% 0 15%;
	max-width: 30%;
	min-width: 26%;
}

.right {
	float: right;
	display: block;
	padding: 0 15% 0 5%;
	max-width: 30%;
	min-width: 26%;
}

.wineleft{
	float: left;
	width: 30%;
	min-width: 700px;
	padding: 0 10%;
}

.wineright {
	float: right;
	width: 30%;
	min-width: 700px;
	padding: 0 10%;
}

.wines{
	text-align: left;
}

.formbox{
	text-align: center;
	display: block;
}

.inputrow {
	display: block;
	padding: 5px;
}

.input {
	display: inline-block;
	padding: 5px;
}

.subscript {

}

.end{

}

.glasswines {
	text-align: left;
	width: 50%
	padding: 0 12%;
}


#rgname{
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
	font-weight: 400;
	font-style: italic;
	margin: 50px auto;
}

#home{

}

#about{
	padding-top: 100px;
}

#reserve {
	text-align: center;
	margin-top: 25px;
}

#menu{
	background:	url(../imgaes/fishplate800.jpg);
}

#winelist {
	background: url(../images/snapdragon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
}

#area_subscript {

}

#foodpics{
	width: 100%;
	text-align: center;
}

#hhmenu{
	text-align: center;
	margin-top: 50px;
}

#salads {
	text-align: center;
}

#chicken {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	display: block;
	padding: 5px;
}

@media only screen and (max-width: 2400px) {
	.wineleft {
		padding: 0 8%;
	}
	.wineright {
		padding: 0 8%;
	}
}

@media only screen and (max-width: 2100px) {
	.wineleft {
		padding: 0 6%;
	}
	.wineright {
		padding: 0 6%;
	}
}

@media only screen and (max-width: 1900px) {
	section{
		width: 40%;
	}
	.wineleft {
		padding: 0 4%;
	}
	.wineright {
		padding: 0 4%;
	}
}

@media only screen and (max-width: 1700px) {
	.wineleft {
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	.wineright {
		float: none;
		text-align: center;
		padding: 50px 0;
		margin: 0 auto;
	}
}