@import url(https://fonts.googleapis.com/css?family=Raleway:100,600);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

body{
	margin: 0;
	font-size: 15px;
}

header {

}

div {

}

nav {
	background-color: rgba(55,158,36,.5);
	margin: 0 auto;
}

a{
	font-family: 'Quicksand', sans-serif;
	color: #5E5957;
	font-size: 3em;
	padding: 25px;
}

section {
	max-width: 40%;
	float: left;
	margin: 50px auto;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 3em;
	margin: 0 auto;
	padding-bottom: 50px;
	text-transform: uppercase;
}

h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.8em;
}

h3 {
	font-family: 'Quicksand', sans-serif;
}

h4 {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	margin: 0;
}

h5 {
	display: block;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 2em;
	padding: 5px;
}

h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.7em;
	font-weight: 600;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 15px;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	font-weight: 300px;
}

hr {
	width: 40%;
	text-align: center;
}

aside{
	float: right;
}

label {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
}

ul, li{	
	display: block;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.4em;
}

span{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	display: block;
	padding: 5px;
}

footer{
	font-family: 'Raleway', sans-serif;
	clear: both;
	text-align: center;
	margin: 0 auto;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.wrap {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.nav{
	margin: 0 auto;
}

.navlinks{

}

.left{
	float: left;
	display: block;
	padding: 0;
}

.right {
	float: right;
	display: block;
	padding: 0;
}

.lwine{
	padding: 0 0 0 28%; 
}

.rwine {
	padding: 0 28% 0 0; 
}

.formbox{
	text-align: center;
	display: block;
}

.inputrow {
	display: block;
	padding: 5px;
}

.input {
	display: inline-block;
	padding: 5px;
}

.subscript {

}

.end{

}


#rgname{
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
	font-weight: 400;
	font-style: italic;
	margin: 50px auto;
}

#home{

}

#reserve {
	text-align: center;
	margin-top: 25px;
}

#area_subscript {

}

#hhmenu{
	text-align: center;
	margin-top: 50px;
}

#salads {
	text-align: center;
}